<%= link_to 'Create Topic', new_topic_path%>

<%= form_for @que, local: true do |form| %>
  <p>
    <%= form.label :question %><br>
    <%= form.text_field :question %>
  </p>

  <p>
    <%= form.label :topic %><br>
    <%= select_tag(:topic_id, options_for_select(Topic.order(:title).pluck(:title, :id) ,:selected =>params[:option]), class: "form-control custom-select" )%>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>

